body::-webkit-scrollbar {
  display: none;
}

.App {
  height: 100vh;
  width: 100vw;
  background-color: #E9E6E0;
  overflow: hidden;
}

.UpperDiv {
  text-align: center;
  height: 40%;
  width: 98.5%;

  box-shadow: -2px 0 10px 2px #333333;
  border-radius: 10px;
  margin:15px;
}

.LowerDiv {
  height: 60%;
  width: 100%;
}

.SequenceDiv {
  float: left;
  height: 88%;
  width: 60%;

  box-shadow: -2px 0 10px 2px #333333;
  border-radius: 10px;
  margin: 15px;
}

.StatsDiv {
  float: left;
  height: 88%;
  width: 36.875%;

  box-shadow: -2px 0 10px 2px #333333;
  border-radius: 10px;
  margin: 15px;
}

.OptionsDiv { /* Responsible for the settings-panel, including its hidden buttons and fields, as well as the generate button */
  display: inline-block;
  width: 80%;
  /*border: 2px solid black;*/
}

.OptionElements {
  float: left;
  height: 100%;
  width: 40%;
  /*border: 2px solid black;*/
}

.ButtonDiv {
  margin-top: 1%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  float: left;

}
/*

body :not(.UpperDiv):not(.SequenceDiv):not(.StatsDiv) :not(.OptionsDiv) :not(.OptionElements) :not(.ButtonDiv) {
  background-color: blue;
}

*/

.SavedCustomDropDown {
  width: 80% !important;
}

.SaveCustom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
}

.SaveCustomLeft {
  margin-left: 7%;
}

.SaveCustomRight {
  margin-right: 10%;
}

.button.is-primary {
  background-color: #CB5050 !important;
  width: 40% !important;
  display: inline-block !important;
  font-size: 150%;
  vertical-align: center;
}

.button.is-normal.is-light {
  display: inline-block !important;
  margin-right: 2px !important;
  margin-left: 2px !important;
  margin-bottom: 2px !important;

}

.input {
  display: inline-block !important;
  width: 80% !important;
  margin-bottom: 5px !important;
  background-color: white !important;

}

#large-input {
  border: 1px solid #333333 !important;
  margin: 1% !important;
  border-radius: 10px;
}

.input.is-small {
  margin-top: 5px !important;
}

.select.is-fullwidth {
  width: 80% !important;
}

.SaveCustom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
}

.SaveCustomLeft {
  margin-left: 6%;
  width: 40%;
}

.SaveCustomRight {
  margin-right: 10%;
  
}

#saveButton {
  background-color: #69ACC2;
  color: white;
}


.title.is-1 {
  margin-top: 1% !important;
}

.title.is-2 {
  margin-top: 10px !important;
  margin-left: 10px !important;
}

.title.is-3 {
  margin-top: 5% !important;
  margin-left: 10px !important;
}

.title.is-4 {
  margin-left: 10px !important;
}

.title.is-5 {
  margin-top: -2.5% !important;
  margin-left: 10px !important;
  margin-bottom: 2.5% !important;
}