body::-webkit-scrollbar {
  display: none;
}

.App {
  height: 100vh;
  width: 100vw;
}

.UpperDiv {
  text-align: center;
  height: 40%;
  width: 100%;
  /*border: 2px solid black;*/
}

.LowerDiv {
  height: 60%;
  width: 100%;
}

.SequenceDiv {
  float: left;
  height: 100%;
  width: 70%;
  border-top: 2px solid black;
  border-right: 2px solid black;
  /*border: 2px solid black;*/
}

.StatsDiv {
  float: left;
  height: 100%;
  width: 30%;
  border-top: 2px solid black;
  /*border: 2px solid black;*/
}

.OptionsDiv { /* Responsible for the settings-panel, including its hidden buttons and fields, as well as the generate button */
  display: inline-block;
  width: 80%;
  /*border: 2px solid black;*/
}

.OptionElements {
  float: left;
  height: 100%;
  width: 40%;
  /*border: 2px solid black;*/
}

.ButtonDiv {
  margin-top: 1%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  float: left;
}


.SavedCustomDropDown {
  width: 80% !important;
}

.SaveCustom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
}

.SaveCustomLeft {
  margin-left: 7%;
}

.SaveCustomRight {
  margin-right: 10%;
}

.button.is-primary {
  background-color: red !important;
  width: 50% !important;
  display: inline-block !important;
  vertical-align: center;
}

.button.is-normal.is-light {
  display: inline-block !important;
  margin-right: 2px !important;
  margin-left: 2px !important;
  margin-bottom: 2px !important;
}

.input {
  display: inline-block !important;
  width: 80% !important;
  margin-bottom: 5px !important;
  background-color: white !important;
}

.input.is-small {
  margin-top: 5px !important;
}

.select.is-fullwidth {
  width: 80% !important;
}

.SaveCustom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
}

.SaveCustomLeft {
  margin-left: 6%;
  width: 40%;
}

.SaveCustomRight {
  margin-right: 10%;
}

.CenteredDialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.title.is-1 {
  margin-top: 1% !important;
}

.title.is-2 {
  margin-top: 10px !important;
  margin-left: 10px !important;
}

.title.is-3 {
  margin-top: 5% !important;
  margin-left: 10px !important;
}